{% extends 'base.html.twig' %}

{% block title %}
    Register
{% endblock %}

{% block body %}
    <div class="card bg-warning-subtle">
        <div class="card-header">
            User Registration
        </div>
        <div class="card-body">
            {{ form_start(registrationForm) }}
            {{ form_widget(registrationForm) }}

            {% if registrationForm.vars.errors|length > 0 %}
                <div class="alert alert-danger">
                    <ul>
                        {% for error in registrationForm.vars.errors %}
                            <li>{{ error.message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <button type="submit" class="btn btn-warning">Register</button>
            {{ form_end(registrationForm) }}
        </div>
        <div class="card-footer">
            <a href="{{ path('user_login') }}">Login?</a>
        </div>
    </div>
{% endblock %}
